@charset "utf-8";

body {
  font-family: Arial, sans-serif;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

form {
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

input {
  font-size: 1.5rem;
}